:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --bg-color: hsl(217, 54%, 11%);
  --card-bg-color: hsl(216, 50%, 16%);
  --line-color: hsl(215, 32%, 27%);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  background-color: var(--bg-color);
  color: white;
}

p {
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  padding: 2em;
  background-color: var(--card-bg-color);
  border-radius: 20px;
  width: 350px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.equilibrium {
  border-radius: 10px;
  width: 100%;
}

.equilibrium:hover {
  background-color: var(--cyan);
}

.layer {
  height: 350px;
  width: 350px;
  position: absolute;
  border-radius: 10px;
  transition: 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layer:hover {
  background-color: hsla(178, 100%, 50%, 60%);
}

.layer:hover .view {
  opacity: 1;
}

.view {
  width: 15%;
  opacity: 0;
}

.equilibrium-title {
  font-size: 26px;
  cursor: pointer;
}

.equilibrium-title:hover {
  color: var(--cyan);
  transition: 0.3s ease;
}

.equilibrium-info {
  width: 100%;
  font-size: 21px;
  font-weight: 300;
  color: var(--soft-blue);
}

.price {
  display: flex;
  justify-content: space-between;
}

.ethereum {
  display: flex;
  color: var(--cyan);
  align-items: center;
  font-weight: bold;
}

.clock {
  display: flex;
  color: var(--soft-blue);
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar-img {
  width: 10%;
  outline: 1px solid white;
  outline-offset: -1px;
  border-radius: 50%;
  margin-right: 1em;
}

.icon {
  padding-right: 0.5em;
}

.creation {
  color: var(--soft-blue);
  margin-right: 0.2em;
}

.line {
  height: 1px;
  color: var(--line-color);
  background-color: var(--line-color);
}

.nft-creator {
  cursor: pointer;
}

.nft-creator:hover {
  color: var(--cyan);
  transition: 0.3s ease;
}
